{extend name='base'/}
{block name="content"}
    <div>

        <ul class="nav nav-tabs" role="tablist">

            <li>
                <a href="{:url('admin/Position/index')}">职位列表</a>
            </li>
            <li class="active">
                <a href="javascript:;">添加职位</a>
            </li>
        </ul>
        <form id="navigate" class="form-horizontal" action="" method="post">
            <!--<input type="hidden" name="csrf_token" value="547d8d197baef66f188c2f3d329a85d8">-->
            <div class="panel panel-default">
                    <div class="panel-heading">
                        职位相关信息
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">职位名称：</label>
                            <div class="col-sm-8"><input required="required" name="pos_name" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">职位薪资：</label>

                            <div class="col-sm-8">
                                <input required="required" name="pos_salary" class="form-control">
                                <span class="help-block">每月薪资或年薪，（如：8k-10k/月或15万/年）</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">经验要求：</label>
                            <div class="col-sm-8">
                                <input required="required" name="pos_exp" class="form-control">
                                <span class="help-block">（如：3-5年）</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">职位类型：</label>
                            <div class="col-sm-8">
                                <!--<select class="form-control">-->
                                    <!--<option value="全职">全职</option>-->
                                    <!--<option value="兼职">兼职</option>-->
                                    <!--<option value="实习生">实习生</option>-->
                                    <!--<option value="应届生">应届生</option>-->
                                <!--</select>-->
                                <label class="radio-inline"><input type="radio" name="pos_type" value="全职"> 全职</label>
                                <label class="radio-inline"><input type="radio" name="pos_type" value="兼职"> 兼职</label>
                                <label class="radio-inline"><input type="radio" name="pos_type" value="应届生"> 应届生</label>
                                <label class="radio-inline"><input type="radio" name="pos_type" value="实习生"> 实习生</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline"><input type="radio" name="pos_sex" value="男"> 男</label>
                                <label class="radio-inline"><input type="radio" name="pos_sex" value="女"> 女</label>
                                <label class="radio-inline"><input type="radio" name="pos_sex" value="不限"> 不限</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">年龄要求：</label>
                            <div class="col-sm-8">
                                <input name="pos_age" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">学历要求：</label>
                            <div class="col-sm-8">
                                <input required="required" name="pos_edu" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">招聘人数：</label>
                            <div class="col-sm-8">
                                <input required="required" name="pos_number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">工作地点：</label>
                            <div class="col-sm-8">
                                <input required="required" name="work_address" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">职位简介：</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" required name="pos_desc"></textarea>
                                <span class="help-block">描述职位的具体工作</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">联系方式：</label>
                            <div class="col-sm-8">
                                <input required="required" name="contact" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">所属分类：</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="cate_id">
                                    {volist name="cates" id="vo"}
                                    <option value="{$vo.cate_id}">{$vo.cate_name}</option>
                                    {/volist}
                                </select>
                                <!--<span class="help-block">-->
                                <!--设置位置后可以将导航菜单显示到模板对应的位置中。-->
                                <!--（可以同时设置多个导航在同一个位置中，会根据排序大小依次显示），显示的位置必须要有模板支持。-->
                                <!--</span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label star">所属企业：</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="comp_id">
                                    {volist name="company" id="vo"}
                                    <option value="{$vo.comp_id}">{$vo.comp_name}</option>
                                    {/volist}
                                </select>
                                <!--<span class="help-block">-->
                                    <!--设置位置后可以将导航菜单显示到模板对应的位置中。-->
                                    <!--（可以同时设置多个导航在同一个位置中，会根据排序大小依次显示），显示的位置必须要有模板支持。-->
                                <!--</span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <button class="btn btn-primary" style="margin-left: 15px;width: 80px;">确定</button>
                        </div>
                    </div>
            </div>

        </form>
            <!--<button type="submit" class="btn btn-default">保存修改</button>-->
        <script>
            require(['hdjs'],function(hdjs){
                hdjs.bootstrapswitch('.bootstrap-switch');
            })
        </script>
    </div>
{/block}